body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b1d4e0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.caseconvert-section{
    float: left;
    width: 100%;
    padding: 90px 0px;
   
    
}
.container{
    width: 1170px;
    margin: 0 auto;
   
}
.inner-con{
    background-color: #78c0b9;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
}
.heading{
    
   margin-bottom: 30px;
   color: #ffffff;
}
.EnterText{
    width: 100%;
    padding: 20px 10px;
   
    margin-bottom: 20px;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
}
.EnterText:focus{
   outline: none;
}
.converterBtn{
    display: flex;
    gap: 30px;
    justify-content: center;
    
}

.button{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    border-radius: 4px;
    padding: 19px 42px 19px 42px;
    background-color: #008CBA;
    font-size: 20;
    font-weight: 500;
    border: 1px solid;
    text-transform: uppercase;
    border: 2px solid #008CBA;
}
.button:hover{
    
    color: white;
}